<div class="layout-container">
    <div class="innerPage_head">
        <img src="../../../../../images/p_insight/p_insight_header2.jpg">
    </div>
    <div class="row padd0 df_contents">
        <div class="col">
        </div>
        <div class="col">
            <div class="df_contents">
                <div class="loginContents">
                    <div class="uk-text-center"><img src="images/user_account/loginIcon.png"></div>
                    <h3>Login</h3>
                   
                    <div class=" login_row">
                        <div *ngIf="isError" class="alert alert-error">
                            <p>Invalid Username or Password!</p>
                        </div>  
                        <div class="row">
                            <div class="col-1">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="col">
                                <input class="form-control round" [formControl]="username" name="" id="username"
                                    placeholder="Username" type="text">
                            </div>
                        </div>
                    </div>

                    <div class=" login_row">

                        <div class="row">
                            <div class="col-1">
                                <i class="material-icons">
                                    vpn_key
                                </i>
                            </div>
                            <div class="col">
                                <input class="form-control round" [formControl]="password" name="" id="password"
                                    placeholder="Password" type="password">
                            </div>
                        </div>
                    </div>

                    <div class="uk-text-center uk-margin-small-top"><a class="learn_more" (click)="login()">Sign In</a>
                        <p>Not a member yet?</p>
                        <div class="subsCribe"><a class="learn_more2" (click)="signUp()">Create an account</a></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>