.close:hover{
	cursor: pointer;
}
#login .uk-modal-dialog {
	width: 400px;
}
.modal-content{
	padding: 26px 5px;

}
.form-control{
	border-radius: 0px;
  }
.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
  }
.login_row .fa {
	color:black;
	font-size: 26px;
	padding-left: 4px;
  }
input[type=text]{
	background: #f4f4f4;
	/* -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1); */
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
	 box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1); 
  }
  input[type=password]{
	background: #f4f4f4;
	/* -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1); */
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
	 box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1); 
  }
.df_contents {
	width: 80%;
	text-align: center;
	margin: 0 auto;	
}
.df_contents h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: normal;
	color: #00669b;
	text-align: center;
	padding: 0;
	padding-top:5px;
	margin:0;
}
.df_contents h3:after{
	width: 300px;
	height: 3px;
	content: '';
	background: url(../../../../images/footer_line.jpg);
	background-size:contain;
	display:block;
	margin: 0 auto;
	margin-top: 5px;
}
.df_contents h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 1px;
	color: #61559f;
	text-align: center;
	padding: 0;
	padding-top:5px;
	padding-bottom:5px;
	margin:0;
	border-bottom: 1px solid #e9e9e9;
}

.loginContents h3{
	padding: 20px;	
}

.loginContents h3{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: normal;
	color: #00669b;
	text-align: center;
	padding: 0;
	padding-top:5px;
	margin:0;
}
.loginContents h3:after{
	width: auto;
	height: 3px;
	content: '';
	background: url(../../../../images/footer_line.jpg);
	background-size:contain;
	display:block;
	margin: 0 auto;
	margin-top: 5px;
}
.login_row {
	
	padding: 5px 0;
	border-bottom: 1px solid #ccc;	
}
.loginContents span{
	padding-right: 5px;
}

.loginContents .learn_more {
	padding: 5px 15px;
	border-radius: 25px;
	font-family: 'Arimo', sans-serif;
	font-size: 13px;
	line-height: 13px;
	font-weight: bold;
	color: #36c6f4;
	background: #2f3739;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.loginContents .learn_more:hover {
	background: #36c6f4;
	color: #2f3739;
}
.loginContents .learn_more2 {
	padding: 5px 15px;
	border-radius: 25px;
	font-family: 'Arimo', sans-serif;
	font-size: 13px;
	line-height: 13px;
	font-weight: bold;
	color: #2f3739;
	background: #36c6f4;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.loginContents .learn_more2:hover {
	background: #2f3739;
	color: #36c6f4;
}
.loginContents p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: normal;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: normal;
	color: #2f3739;
	text-align: center;
	padding:0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin:0;
}

.alert {
	color: #fff;
	font-size: 13px;
	background: #f44336;
	padding: 0.1rem .5rem;
	font-weight: 500;
	line-height: 1.2;
	p {
	  margin-bottom: 0;
	}
  }