<div class="modal-content" data-backdrop="static" data-keyboard="false">

  <span class="uk-modal-close-default close" (click)="cancelModal()">&times;</span>
  <div class="df_contents">
    <div class="loginContents">
      <div class="uk-text-center"><img src="images/user_account/loginIcon.png"></div>
      <h3>Login</h3>

      <div class="form-inline login_row">
        <div *ngIf="isError" class="alert alert-error">
          <p>Invalid Username or Password!</p>
      </div> 
        <div class="row">
          <div class="col-1">
            <i class="fa fa-user"></i>
          </div>
          <div class="col">
            <input class="form-control round" [formControl]="username" name="" id="username" placeholder="User Name"
              type="text">

          </div>
        </div>
      </div>

      <div class="form-inline login_row">

        <div class="row">
          <div class="col-1">
            <i class="material-icons">
              vpn_key
            </i>
          </div>
          <div class="col">
            <input [formControl]="password" type="password" class="form-control round" placeholder="Password">
          </div>
        </div>
      </div>


      <div class="uk-text-center uk-margin-small-top"><a class="learn_more" [attr.disabled]="!loginForm.valid"
          (click)="login()">Sign In</a>
        <p>Not a member yet?</p>
        <div class="subsCribe"><a class="learn_more2" (click)="signUp()">Create an account</a></div>
      </div>
    </div>
  </div>
</div>