
.modal-buttons .btn {
  margin-right: 20px;
  padding: 0 0 0 1em;
}
//Add a comment to this line

// .modal-content {
//   color: black;
//   background-color: #B9CFDB;
//   text-align: center;
// }
