.padd0 {
  padding: 10px 0;
}

[disabled] {
  color: gray;
}
$default-color: #444;

option {
  color: $default-color;
}

.mat-slider-horizontal {
  min-width: 112px;
}

.mat-slider-vertical {
  height: 100px;
}

.mat-slider {
  width: 100px;
}

.padd1 {
  padding: 0 5px;
}

::ng-deep .mat-accent .mat-slider-thumb,
.mat-slider-track-fill {
  background-color: #00d2ff;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #00d2ff;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #00d2ff;
  // right: -23px;
  // top: 40px;
  width: 46px;
  height: 43px;
}
// ::ng-deep .modal-header .close {
//   display:none;
// }
//   .other {background-color: #e7e7e7; color: black;} /* Gray */

select.form-control {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

input[type="text"],
.df_contents select {
  background: #f4f4f4;
  /* -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1); */
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.df_contents select.round {
  background-image: url(../../../../../images/dealFinder/select_default.png);
  background-repeat: no-repeat;
  background-position: right 5px center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.df_contents select.round:hover {
  cursor: pointer;
}
.df_contents select.round:disabled {
  cursor: not-allowed;
}

.df_contents select.round:focus {
  background-image: url(../../../../../images/dealFinder/select_focus.png);
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
//--------- header------------//

.innerPage_head {
  padding: 0;
  // padding-left: 20px;
  position: relative;
  text-align: center;
  margin-top: -80px;
}

.innerPage_head h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 37px;
  line-height: 37px;
  letter-spacing: normal;
  color: #00d2ff;
  text-align: center;
  padding: 0;
  padding-top: 15%;
  margin: 0;
}
.innerPage_head .pi_icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.innerPage_head span {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 36px;
  line-height: 36px;
  color: #00d2ff;
  text-transform: uppercase;
}

.df_contents h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: normal;
  color: #00669b;
  text-align: center;
  padding: 0;
  padding-top: 5px;
  margin: 0;
}
.df_contents h3:after {
  width: 300px;
  height: 3px;
  content: "";
  background: url(../../../../../images/footer_line.jpg);
  background-size: contain;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

//  .innerPage_head h3:after{
//   width: 300px;
//   height: 3px;
//   content: '';
//   background: url(../../../../../images/footer_line2.jpg);
//   background-size:contain;
//   display:block;
//   margin: 0 auto;
//   margin-top: 5px;
// }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//---------------header ends-------//

.dfSearch {
  padding-top: 10px;
  outline: none;
}

.dfSearch {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: normal;
  color: #14191d;
  background: #36c6f4;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  margin: 0;
  padding: 5px 15px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.dfSearch:hover {
  color: #fff;
  background: #693d72;
}

button.btn.dfSearch:focus {
  box-shadow: none;
}


