<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">
</ngx-loading>

<div class="layout-container">
        <div class="innerPage_head">


                <img src="../../../../../images/p_insight/p_insight_header2.jpg">
        
                <div class="centered">
                    <h3><span>Deal </span>&nbsp; Finder</h3>
                </div>
            </div>  
    <!-- <div class="row mb-2" style="margin-top: 104px;">
    </div> -->
    
    <!-- <ngb-alert *ngIf="successMessage" [type]= status (close)="successMessage = null">no records found</ngb-alert> -->
    <div class="row padd0 df_contents">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <input type="image" src="../../../../../images/dealFinder/dg_searchIcon.png" />
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row padd0 df_contents">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <h3>SEARCH PROPERTY</h3>

        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>


    <form [formGroup]="searchPropertyForm" #formDir="ngForm">

        <div class="row padd0 df_contents">
            <div class="col"></div>
            <div class="col-2 ">

                <select [formControl]='selectCity' class="form-control round" id="selectCity"
                    [ngClass]="{'has-error': ((!selectCity.valid && selectCity.touched) || (selectCity.untouched && formDir.submitted)), 'has-success': (selectCity.valid && selectCity.touched)}">
                    <option disabled selected value=''>Select Area</option>
                    <option value='Harrow'>Harrow</option>
                </select>
                <small *ngIf="(!selectCity.valid && selectCity.touched) || (selectCity.untouched && formDir.submitted)"
                    class="text-danger">
                    Area is required
                </small>

            </div>
            <!-- <div *ngIf="utilService.comeFromDealFinder" class="col-2 ">
                    <input type="text" [formControl]="pcode" id="pcode" class="form-control round"
                        placeholder="Enter Postcode"
                        [ngClass]="{'has-error': (!pcode.valid && pcode.touched) || (pcode.untouched && formDir.submitted), 'has-success': (pcode.valid && pcode.touched)}">
    
                </div> -->
            <div class="col-2 ">
                <input type="text" style="height: 36px;" [formControl]="postcode" id="postcode" class="form-control round"
                    placeholder="Enter Postcode"
                    [ngClass]="{'has-error': (!postcode.valid && postcode.touched) || (postcode.untouched && formDir.submitted), 'has-success': (postcode.valid && postcode.touched)}">
                <small *ngIf="postcode.errors?.pattern" class="text-danger">
                    Invalid Postcode.
                </small>
                <div *ngIf="((!postcode.valid && postcode.touched) || (postcode.untouched && formDir.submitted)) && postcode.errors != null"
                    class="text-danger">
                    <small *ngIf="postcode.errors?.required">
                        Postcode is required.
                    </small>
                </div>

            </div>

           
            <div class="col"></div>
        </div>

        <div class="row padd0 df_contents">
            <div class="col">
            </div>
          
            <div style="text-align: end;" class="col">
                <Label class="padd1"> Min Price </Label>
                <mat-slider class="padd1" [ngModelOptions]="{standalone: true}" thumbLabel [(ngModel)]="minvalue"
                    min="50000" max="999999" step="1000">
                </mat-slider>
                <Label class="label other form-control-sm " name="minvalue" ngDefaultControl
                    style="border-color: #222222 ; font-size: 23px; font-weight:400; color: #00d2ff; text-align: right; ">
                    {{minvalue}} £ </Label>
            </div>

            <div class="col">
                <Label style="font-size: 23px; font-weight:400; color: #00d2ff; text-align: right; " name="maxvalue"
                    ngDefaultControl class="other form-control-sm"> {{maxvalue}}
                    £ </Label>
                <mat-slider class="padd1" [ngModelOptions]="{standalone: true}" thumbLabel min="1000000" max="2000000"
                    step="1000" [(ngModel)]="maxvalue">
                </mat-slider>
                <Label class="label padd1"> Max Price </Label>

            </div>
            <div class="col">
            </div>

        </div>

        <div class="row padd0 df_contents">
            <div class="col"></div>

            <hr>

            <div class="col-2 ">
                <select [formControl]="selectType" class="form-control round" id="selectType" placeholder="Select Type"
                    [ngClass]="{'has-error': ((!selectType.valid && selectType.touched) || (selectType.untouched && formDir.submitted)), 'has-success': (selectType.valid && selectType.touched)}">
                    <option value="" disabled selected>Select Property Type</option>
                    <option value="House">House</option>
                    <option value="Flat">Flat</option>


                </select>

            </div>
            <div class="col-2 ">
                <select [formControl]="radius" class="form-control round" id="radius"
                    >
                    <option value="" disabled selected>Radius</option>
                    <option value="5">5 miles</option>
                    <option value="10">10 miles</option>
                    <option value="15">15 miles</option>

                </select>

            </div>
       


            <hr>

            <div class="col">
            </div>
        </div>
      

        <div class="row padd0 df_contents">
            <div class="col">
            </div>
       

          
            <div class="col">
            </div>
        </div>

        <div class="row padd0 df_contents">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <button type="submit" (click)="search()"
            class="btn dfSearch">
            <i class="fa fa-search"></i>
                 Search
            </button>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </form>