<div class="layout-container">
        
        <div class="row" style="margin-top: 120px;">
                <div class="col-6">
                        <h3 class="page-title">property analyzer</h3>
                    </div>
            <div class="col-lg-12">
               
            </div>
        </div>
    </div>
    