<div class="layout-container">
  

  <section class="section_header_ppinsight">
    <div class="innerPage_head">
      <div class="uk-flex uk-flex-middle"><img class="pi_icon" src="../../../../../images/p_insight/header_ico.png">
        <h3><span>Property </span>Insight</h3>
      </div>
    </div>
  </section>
  <!-- <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 pad0">
                    <img src='{{dataList.image}}' class="categoryimg" alt="Generic placeholder image">
                </div>
                <div class="col-sm-4 pad0">
                    <div class="categorytext1">
                        <h2>{{dataList.displayable_address}}</h2>

                        <div class="row">
                            <div class="col-6">
                                <h4>{{dataList.num_bedrooms}}</h4>

                            </div>
                            <div class="col-6">
                                <h4>£ {{dataList.avgPrice}}</h4>

                            </div>
                        </div>

                        <h3 style="color:darkcyan">Description</h3>
                        <p class="lead">{{dataList.desc}}</p>
                        <a> more details in zoopla</a>
                    </div>

                </div>
            </div>

        </div>
    </div> -->
  <section class="pi_top ">
    <div class="row uk-container ">
      <div class="uk-width-1-5">

        <ngb-carousel>
          <ng-template ngbSlide>
            <img src="../../../../images/p_insight/pi_img_1.jpg">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../../../images/p_insight/pi_img_2.jpg">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../../../images/p_insight/pi_img_3.jpg">
          </ng-template>
        </ngb-carousel>

      </div>
      <div class="pi_top_right uk-width-4-5">
        <div class="address"><img src="../../../../images/p_insight/location_icon.jpg" />{{result.rowselectedaddress }}
        </div>
        <ul class="uk-subnav">
          <li>
            <div class="uk-flex uk-flex-middle"><img
                src="../../../../images/p_insight/bed_icon.png">{{result.rowselectedrooms}}
            </div>
          </li>
          <!-- <li>
            <div class="uk-flex uk-flex-middle"><img src="../../../../images/p_insight/garage_icon.png">1
              Garage</div>
          </li> -->
          <!-- <li>
            <div class="uk-flex uk-flex-middle"><img src="../../../../images/p_insight/pool_icon.png">Private
              Pool</div>
          </li> -->
          <li>
            <div class="uk-flex uk-flex-middle"><img
                src="../../../../images/p_insight/pound_icon.png">{{result.rowselectedprice}}
            </div>
          </li>
        </ul>

        <p>{{result.rowselecteddesc}}</p>
        <div class="container">

          <ngb-rating [(rate)]="currentRate" max="5">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
            </ng-template>
          </ngb-rating>

        </div>
      </div>

    </div>
  </section>
  <hr class="uk-hr">

  <div class="container-fluid tabs">
    <ngb-tabset [justify]="currentJustify" (tabChange)="selectTabView($event)"  [activeId]="activeIdString">
      <ngb-tab id="evaluation" > 
        <ng-template ngbTabTitle><i class="fa fa-home"></i>&nbsp;&nbsp;Property Valuation</ng-template>
        <ng-template ngbTabContent>

          <div class="row mt-2">
            <div class="col">
              <mat-card class="mt-2 card-blue">
                <h3 class="tab-card-title">Insight Valuation</h3>
                <p ><i class="fa fa-gbp"></i>&nbsp;&nbsp;-</p>
                <p style="font-size: 14px;
                margin-top: -14px;"> +/- 5%
                </p>
              </mat-card>
              <mat-card class="mt-2 card-black">
                <h3 class="tab-card-title">Rental Valuation</h3>
                <p> - </p>
              
              </mat-card>
            </div>
            <div class="col">
              <mat-card class="mt-2 card-blue1">
                <h3 style="color: #ffffff;" class="tab-card-title">Property Valuation</h3>
                <p style="color: #ffffff;"> <i class="fa fa-gbp"></i>&nbsp;&nbsp; - </p>
                <p style="font-size: 11px;
                margin-top: -14px;color:#222222;"> ** Based on user inputs
                </p>


              </mat-card>
              <mat-card style="background-color: #61559f;" class="mt-2 card-black">
                <h3 style="color: #ffffff;" class="tab-card-title">RENTAL YIELD</h3>
                <p style="color: #ffffff;">-</p>
              </mat-card>

            </div>
            <div class="col">
              <mat-card class="mt-2 card-pink">
                <h3 style="color: #ffffff;" class="tab-card-title">Valuation Confidence</h3>
                <p style="color: #ffffff;">-</p>
              </mat-card>

              <mat-card class="mt-2 card-grey">
                <h3 class="tab-card-title">Data Point Assessed</h3>
                <p>-</p>
              </mat-card>


            </div>
            <div class="col">

              <mat-card style="background: #004766;" class="mt-2 card-blue">
                <h3 style="color: #ffffff;" class="tab-card-title">Last Sold Price</h3>
                <p style="color: #ffffff;"><i class="fa fa-gbp"></i>&nbsp;&nbsp;-</p>
              </mat-card>

              <mat-card style="background-color: #683d72;" class="mt-2 card-grey">
                <h3 class="tab-card-title">Price Change</h3>
                <p><i class="fa fa-gbp"></i>&nbsp;&nbsp;-</p>
              </mat-card>

            </div>
            <div class="col-2 mt-2">

              <h3 style="color: #36c6f4">Inputs</h3>

              <table class="table">
                <tbody>
                  <tr>
                    <td class="left">Postcode</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td class="left">Property Type</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td class="left">Construction Date</td>
                    <td>1914-2000</td>
                  </tr>

                
                  <tr>
                    <td class="left">Bedroom</td>
                    <td>-</td>
                  </tr>
                 
                  <tr>
                    <td class="left">Outdoor Space</td>
                    <td>Garden</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="sales">
        <ng-template ngbTabTitle><i class="fa fa-balance-scale"></i>&nbsp;&nbsp;Sales Comparison</ng-template>
        <ng-template ngbTabContent>
          <div class="row mt-2">
            <div class="col-8">
              <h3 class="tabh3">RECENTLY SOLD LOCAL COMPARABLES</h3>

              <table id="sales" class="tab2-table">
                <tr>
                  <th scope="col">Area</th>
                  <th scope="col">Address</th>
                  <th scope="col">Property Type</th>
                  <th scope="col">Beds</th>
                  <th scope="col">Baths</th>
                  <th scope="col">Sale Price</th>
                  <th scope="col">Sale Date</th>
                  <th scope="col">Area Sqm</th>
                  <th scope="col">Distance</th>
                  <th scope="col">Price/Sqm</th>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Roxeth Road</td>
                  <td>Semi Detached</td>
                  <td>5 Beds</td>
                  <td>2 Baths</td>
                  <td>710000</td>
                  <td>16 Nov 2018</td>
                  <td>2000</td>
                  <td>0.1mi</td>
                  <td>250 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>London Road</td>
                  <td>Detached</td>
                  <td>5 Beds</td>
                  <td>2 Baths</td>
                  <td>725000</td>
                  <td>21 Dec 2018</td>
                  <td>2100</td>
                  <td>0.1mi</td>
                  <td>262 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Harrow Park</td>
                  <td>Semi Detached</td>
                  <td>4 Beds</td>
                  <td>2 Baths</td>
                  <td>685000</td>
                  <td>05 Sept 2018</td>
                  <td>2250</td>
                  <td>0.2mi</td>
                  <td>266 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Harrow Park</td>
                  <td>Detached</td>
                  <td>6 Beds</td>
                  <td>2 Baths</td>
                  <td>780000</td>
                  <td>01 Jan 2019</td>
                  <td>1900</td>
                  <td>0.2mi</td>
                  <td>252 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Roxeth Road</td>
                  <td>Semi Detached</td>
                  <td>5 Beds</td>
                  <td>2 Baths</td>
                  <td>710000</td>
                  <td>16 Nov 2018</td>
                  <td>2000</td>
                  <td>0.1mi</td>
                  <td>250 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>London Road</td>
                  <td>Detached</td>
                  <td>5 Beds</td>
                  <td>2 Baths</td>
                  <td>725000</td>
                  <td>21 Dec 2018</td>
                  <td>2100</td>
                  <td>0.1mi</td>
                  <td>262 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Harrow Park</td>
                  <td>Semi Detached</td>
                  <td>4 Beds</td>
                  <td>2 Baths</td>
                  <td>685000</td>
                  <td>05 Sept 2018</td>
                  <td>2250</td>
                  <td>0.2mi</td>
                  <td>266 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Harrow Park</td>
                  <td>Detached</td>
                  <td>6 Beds</td>
                  <td>2 Baths</td>
                  <td>780000</td>
                  <td>01 Jan 2019</td>
                  <td>1900</td>
                  <td>0.2mi</td>
                  <td>252 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Harrow Park</td>
                  <td>Semi Detached</td>
                  <td>4 Beds</td>
                  <td>2 Baths</td>
                  <td>685000</td>
                  <td>05 Sept 2018</td>
                  <td>2250</td>
                  <td>0.2mi</td>
                  <td>266 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Harrow Park</td>
                  <td>Detached</td>
                  <td>6 Beds</td>
                  <td>2 Baths</td>
                  <td>780000</td>
                  <td>01 Jan 2019</td>
                  <td>1900</td>
                  <td>0.2mi</td>
                  <td>252 £/sqm</td>
                </tr>
              </table>
            </div>
            <div class="col-4 mt-5">
              <div id="chart">
                <!-- ng2-chart  -->
                <canvas baseChart [datasets]="barChartData" [options]="barChartOptions" [labels]="barChartLabels"
                  [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>

        </ng-template>
      </ngb-tab>
      <ngb-tab id="similar">
        <ng-template ngbTabTitle><i class="fa fa-building"></i>&nbsp;&nbsp;Similar Properties</ng-template>
        <ng-template ngbTabContent>
           
         
          <div class="row mt-2">
            <div class="col-8">
              <h3 class="tabh3">Comparables for sale locally</h3>
              <ag-grid-angular #agGrid [rowData]="similarList" [columnDefs]="similarcolumnDefs" class="ag-theme-material" 
              [rowHeight]="33" [headerHeight]="30"  [enableColResize]="true"  [animateRows]="true" 
              [paginationPageSize]="10" (gridReady)="onGridReady($event)"   [pagination]="true"
              domLayout="autoHeight">
          </ag-grid-angular>

          
          <!-- <table id="sales" class="tab2-table">
            <tr>
              <th scope="col">Area</th>
              <th scope="col">Address</th>
              <th scope="col">Property Type</th>
              <th scope="col">Beds</th>
              <th scope="col">Baths</th>
              <th scope="col">Asking Price</th>
              <th scope="col">Listed on</th>
              <th scope="col">Area Sqm</th>
              <th scope="col">Distance</th>
              <th scope="col">Price/Sqm</th>
            </tr>
            <tr>
              <td>Harrow, HA1</td>
              <td>Roxeth Road</td>
              <td>Semi Detached</td>
              <td>5 Beds</td>
              <td>2 Baths</td>
              <td>710000</td>
              <td>16 Nov 2018</td>
              <td>2000</td>
              <td>0.1mi</td>
              <td>250 £/sqm</td>
            </tr>
            <tr>
              <td>Harrow, HA1</td>
              <td>London Road</td>
              <td>Detached</td>
              <td>5 Beds</td>
              <td>2 Baths</td>
              <td>725000</td>
              <td>21 Dec 2018</td>
              <td>2100</td>
              <td>0.1 mi</td>
              <td>262 £/sqm</td>
            </tr>
            <tr>
              <td>Harrow, HA1</td>
              <td>Harrow Park</td>
              <td>Semi Detached</td>
              <td>4 Beds</td>
              <td>2 Baths</td>
              <td>685000</td>
              <td>05 Sept 2018</td>
              <td>2250</td>
              <td>0.2mi</td>
              <td>266 £/sqm</td>
            </tr>
            <tr>
              <td>Harrow, HA1</td>
              <td>Harrow Park</td>
              <td>Detached</td>
              <td>6 Beds</td>
              <td>2 Baths</td>
              <td>780000</td>
              <td>01 Jan 2019</td>
              <td>1900</td>
              <td>0.2mi</td>
              <td>252 £/sqm</td>
            </tr>
            <tr>
              <td>Harrow, HA1</td>
              <td>Roxeth Road</td>
              <td>Semi Detached</td>
              <td>5 Beds</td>
              <td>2 Baths</td>
              <td>710000</td>
              <td>16 Nov 2018</td>
              <td>2000</td>
              <td>0.1mi</td>
              <td>250 £/sqm</td>
            </tr>
            <tr>
              <td>Harrow, HA1</td>
              <td>London Road</td>
              <td>Detached</td>
              <td>5 Beds</td>
              <td>2 Baths</td>
              <td>725000</td>
              <td>21 Dec 2018</td>
              <td>2100</td>
              <td>0.1mi</td>
              <td>262 £/sqm</td>
            </tr>
            <tr>
              <td>Harrow, HA1</td>
              <td>Harrow Park</td>
              <td>Semi Detached</td>
              <td>4 Beds</td>
              <td>2 Baths</td>
              <td>685000</td>
              <td>05 Sept 2018</td>
              <td>2250</td>
              <td>0.2mi</td>
              <td>266 £/sqm</td>
            </tr>
            <tr>
              <td>Harrow, HA1</td>
              <td>Harrow Park</td>
              <td>Detached</td>
              <td>6 Beds</td>
              <td>2 Baths</td>
              <td>780000</td>
              <td>01 Jan 2019</td>
              <td>1900</td>
              <td>0.2mi</td>
              <td>252 £/sqm</td>
            </tr>
            <tr>
              <td>Harrow, HA1</td>
              <td>London Road</td>
              <td>Detached</td>
              <td>5 Beds</td>
              <td>2 Baths</td>
              <td>725000</td>
              <td>21 Dec 2018</td>
              <td>2100</td>
              <td>0.1mi</td>
              <td>262 £/sqm</td>
            </tr>
            <tr>
              <td>Harrow, HA1</td>
              <td>Harrow Park</td>
              <td>Semi Detached</td>
              <td>4 Beds</td>
              <td>2 Baths</td>
              <td>685000</td>
              <td>05 Sept 2018</td>
              <td>2250</td>
              <td>0.2mi</td>
              <td>266 £/sqm</td>
            </tr>
          </table> -->
            </div>
            <div class="col-4 mt-5">
              <div class="responsive-map-container">

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1654.2581441138498!2d-0.33839358265991326!3d51.56852629117456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876130f30f03c31%3A0x48f58537998e0e24!2sHarrow%20Park%2C%20Harrow%2C%20UK!5e1!3m2!1sen!2sbd!4v1574374772267!5m2!1sen!2sbd"
                  width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

              </div>
            </div>
          </div>

        </ng-template>
      </ngb-tab>
      <ngb-tab id="rental">
        <ng-template ngbTabTitle><i class="fa fa-money"></i>&nbsp;&nbsp;Rental Comparison</ng-template>
        <ng-template ngbTabContent>
          <div class="row mt-2">
            <div class="col-8">
              <h3 class="tabh3"> COMPARABLES FOR LET LOCALLY</h3>
              <table id="sales" class="tab2-table">
                <tr>
                  <th scope="col">Area</th>
                  <th scope="col">Address</th>
                  <th scope="col">Property Type</th>
                  <th scope="col">Beds</th>
                  <th scope="col">Baths</th>
                  <th scope="col">Asking Rent</th>
                  <th scope="col">Listed on</th>
                  <th scope="col">Area Sqm</th>
                  <th scope="col">Distance</th>
                  <th scope="col">Furnishing</th>
                </tr>

                <tr>
                  <td>Harrow, HA1</td>
                  <td>Roxeth Road</td>
                  <td>Semi Detached</td>
                  <td>5 Beds</td>
                  <td>2 Baths</td>
                  <td>710000</td>
                  <td>16 Nov 2018</td>
                  <td>2000</td>
                  <td>0.1mi</td>
                  <td>250 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>London Road</td>
                  <td>Detached</td>
                  <td>5 Beds</td>
                  <td>2 Baths</td>
                  <td>725000</td>
                  <td>21 Dec 2018</td>
                  <td>2100</td>
                  <td>0.1 mi</td>
                  <td>262 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Harrow Park</td>
                  <td>Semi Detached</td>
                  <td>4 Beds</td>
                  <td>2 Baths</td>
                  <td>685000</td>
                  <td>05 Sept 2018</td>
                  <td>2250</td>
                  <td>0.2mi</td>
                  <td>266 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Harrow Park</td>
                  <td>Detached</td>
                  <td>6 Beds</td>
                  <td>2 Baths</td>
                  <td>780000</td>
                  <td>01 Jan 2019</td>
                  <td>1900</td>
                  <td>0.2mi</td>
                  <td>252 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Roxeth Road</td>
                  <td>Semi Detached</td>
                  <td>5 Beds</td>
                  <td>2 Baths</td>
                  <td>710000</td>
                  <td>16 Nov 2018</td>
                  <td>2000</td>
                  <td>0.1mi</td>
                  <td>250 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>London Road</td>
                  <td>Detached</td>
                  <td>5 Beds</td>
                  <td>2 Baths</td>
                  <td>725000</td>
                  <td>21 Dec 2018</td>
                  <td>2100</td>
                  <td>0.1mi</td>
                  <td>262 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Harrow Park</td>
                  <td>Semi Detached</td>
                  <td>4 Beds</td>
                  <td>2 Baths</td>
                  <td>685000</td>
                  <td>05 Sept 2018</td>
                  <td>2250</td>
                  <td>0.2mi</td>
                  <td>266 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Harrow Park</td>
                  <td>Detached</td>
                  <td>6 Beds</td>
                  <td>2 Baths</td>
                  <td>780000</td>
                  <td>01 Jan 2019</td>
                  <td>1900</td>
                  <td>0.2mi</td>
                  <td>252 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>London Road</td>
                  <td>Detached</td>
                  <td>5 Beds</td>
                  <td>2 Baths</td>
                  <td>725000</td>
                  <td>21 Dec 2018</td>
                  <td>2100</td>
                  <td>0.1mi</td>
                  <td>262 £/sqm</td>
                </tr>
                <tr>
                  <td>Harrow, HA1</td>
                  <td>Harrow Park</td>
                  <td>Semi Detached</td>
                  <td>4 Beds</td>
                  <td>2 Baths</td>
                  <td>685000</td>
                  <td>05 Sept 2018</td>
                  <td>2250</td>
                  <td>0.2mi</td>
                  <td>266 £/sqm</td>
                </tr>
              </table>
            </div>
            <div class="col-4 mt-5">
              <div id="chart">
                <!-- ng2-chart  -->
                <canvas baseChart [datasets]="barChartData" [options]="barChartOptions" [labels]="barChartLabels"
                  [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="cashFlow">
        <ng-template ngbTabTitle><i class="fa fa-money"></i>&nbsp;&nbsp;Cash Flow</ng-template>
        <ng-template ngbTabContent>

          <div class="row mt-2">

            <div class="col-4 mt-5">
              <div id="chart">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
              </div>
            </div>
            <div class="col-4 mt-5">
              <div id="chart">
                <canvas baseChart [datasets]="barChartData" [options]="barChartOptions" [labels]="barChartLabels"
                  [chartType]="barChartType">
                </canvas>
              </div>
            </div>
            <div class="col-4 mt-5">
              <div id="chart">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"></canvas>
              </div>
            </div>
          </div>

          <!-- <agm-map [latitude]='latitude' [longitude]='longitude' 
                        [mapTypeId]='mapType'>
                      </agm-map> -->
        </ng-template>
      </ngb-tab>
      <ngb-tab id="returnInvest">
        <ng-template ngbTabTitle><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;Return on Investment</ng-template>
        <ng-template ngbTabContent>
          <div class="col-4 mt-5">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"></canvas>
            An outstanding extended 7 bedroom detached property offered to the market with no upper chain. This stunning
            family home is for sale on the prestigious & sough-after Sudbury Court Drive and is available immediately.
            The house has been completely refurbished to the highest of standards by the existing owners, which will
            only truly been appreciate on an internal inspection which is advised on the strongest of recommendations.
            There is off street parking for 5 cars and further room to extend (STPP).
          </div>

        </ng-template>
      </ngb-tab>
      <ngb-tab id="localData">
        <ng-template ngbTabTitle><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Local Data</ng-template>
        <ng-template ngbTabContent>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1654.2581441138498!2d-0.33839358265991326!3d51.56852629117456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876130f30f03c31%3A0x48f58537998e0e24!2sHarrow%20Park%2C%20Harrow%2C%20UK!5e1!3m2!1sen!2sbd!4v1574374772267!5m2!1sen!2sbd"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>