/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

//Color Scheme
// $sideBarCol: #280E3B;
$primaryClr:#632A7E;
$secondryClr:#36c6f4;

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.has-error{
    border: 1px solid red;
}
.has-success{
    border-color: green;
}
a.al-logo {
    color: #454545;
    display: block;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    float: left;
    outline: none !important;
}
//Override Color Scheme
button.btn.btn-primary {
    background: $secondryClr;
    border-color: $secondryClr;
    text-transform: uppercase;
}
button.btn.btn-primary:hover, button.btn.btn-primary:focus, button.btn.btn-primary.focus, button.btn.btn-primary:active, button.btn.btn-primary.active{
    background: darken($color: $secondryClr, $amount: 5) ;
    border-color: $secondryClr;
}
button.btn-primary:not([disabled]):not(.disabled):active{
    background: darken($color: $secondryClr, $amount: 5) ;
    border-color: $secondryClr;
}

.ag-theme-material .ag-header-cell {
    line-height: 45px;
    text-transform: uppercase;
    background-color: $secondryClr;
}
.ag-theme-material .ag-header-group-cell:not(.ag-column-resizing) + .ag-header-group-cell:hover, .ag-theme-material .ag-header-group-cell:not(.ag-column-resizing) +
 .ag-header-group-cell.ag-column-resizing, .ag-theme-material .ag-header-cell:not(.ag-column-resizing) + .ag-header-cell:hover,
  .ag-theme-material .ag-header-cell:not(.ag-column-resizing) + .ag-header-cell.ag-column-resizing, .ag-theme-material .ag-header-group-cell:first-of-type:hover,
   .ag-theme-material .ag-header-group-cell:first-of-type.ag-column-resizing,
 .ag-theme-material .ag-header-cell:first-of-type:hover, .ag-theme-material .ag-header-cell:first-of-type.ag-column-resizing{
    background-color: $secondryClr;
}
.ag-theme-material .ag-header{
    color: #2f3739;
}
.ag-theme-material .ag-floating-filter-full-body input{
    color: #2f3739;
    border-bottom: 2px solid $white;
}
.page-title {
    color: $primaryClr;
    border-left: 2px solid $primaryClr;
}
.input-group .fa{
    color: $primaryClr;
}
.fa-lg {
    margin-right: 6px;
    color: $primaryClr;
}
.modal-title{
    color: $primaryClr;
}
.nav.nav-tabs > li > a:hover {
    background-color: $primaryClr;
    color: $white;
}
.page-title {
    color: $primaryClr;
    border-left: 2px solid $primaryClr;
    font-size: 24px;
    padding-left: 10px;
    font-weight: bold;
}
.search {
    margin-right: 1em;
    float: left;
    padding: 6px 12px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn {
    border-radius: 5px;
    transition: all 0.1s ease;
    padding: 0.344rem 1rem;
    font-size: 0.9rem;
}
.card {
    margin-bottom: 24px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}
label.custom-checkbox > span {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 16px;
    font-weight: 300;
    cursor: pointer;
    padding-left: 22px;
    width: 100%;
}

.input-group {
    margin-bottom: 5px;
}
.form-group label {
    font-size: 13px;
}
.tab-content {
    // padding: 10px 22px;
}
.form-control {
    font-size: 12px;
}
.card-title {
    font-size: 14px;
}
.formTop {
    margin-top: 2rem;
}
h3{
    font-size: 20px;
}

.layout-container {
    // margin: 0 12px;
}


    // ---------- header----- //
    
    .section_header_ppinsight {
        padding: 20px 0;
        background: #393d40;
        color: #666666;	
        margin-top: 15px;
      }
      .section_header_ppinsight .uk-overlay{
        padding: 30px 19px;
      }
      .innerPage_head {
        padding: 0;
        padding-left: 20px;
        // margin-top: -80px; // deal finder

      }
      .innerPage_head h3{
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: normal;
        color: #00d2ff;
        text-align: left;
        padding: 0;
        margin:0;
      }
      .innerPage_head span {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 25px;
        color: #00d2ff;
        text-transform: uppercase;
      }
      .innerPage_head .pi_icon{
        width:30px;
        height: 30px;
        margin-right:5px;
      }
      // ----------sub header ends ----------// 