<div id="home" class="slider-area">
        <div class="bd-example">
            <div id="carouselOne" class="carousel slide">
                <!-- <ol class="carousel-indicators">
                    <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselOne" data-slide-to="1"></li>
                    <li data-target="#carouselOne" data-slide-to="2"></li>
                </ol> -->

                <div class="carousel-inner">
                    <div class="carousel-item bg_cover active" style="background-image: url(assets/images/slider-1.jpg)">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-7 col-sm-10">
                                        <h2 class="carousel-title">Remove the Hassle out of Investing</h2>
                                        <div class="elementor-text-editor elementor-clearfix">
                                                <h2><span style="color: #ffffff;">
                                                    Using the power of technology, Empowering Customers to make Smarter Investment Decisions Quicker.
                                                </span></h2></div>  
                                        <ul class="rounded-buttons">
                                            <li><a class="main-btn rounded-three" href="#">GET STARTED</a></li>
                                            <!-- <li><a class="main-btn rounded-one" href="#">DOWNLOAD</a></li> -->
                                        </ul>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- container -->
                        </div> <!-- carousel caption -->
                    </div> <!-- carousel-item -->

                    <div class="carousel-item bg_cover" style="background-image: url(assets/images/slider-2.jpg)">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-7 col-sm-10">
                                        <h2 class="carousel-title">title--</h2>
                                        <ul class="carousel-btn rounded-buttons">
                                            <li><a class="main-btn rounded-three" href="#">GET STARTED</a></li>
                                            <li><a class="main-btn rounded-one" href="#">DOWNLOAD</a></li>
                                        </ul>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- container -->
                        </div> <!-- carousel caption -->
                    </div> <!-- carousel-item -->

                    <!-- <div class="carousel-item bg_cover" style="background-image: url(assets/images/slider-3.jpg)">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-6 col-lg-7 col-sm-10">
                                        <h2 class="carousel-title">Multi-purpose Landing Page Template</h2>
                                        <ul class="carousel-btn rounded-buttons">
                                            <li><a class="main-btn rounded-three" href="#">GET STARTED</a></li>
                                            <li><a class="main-btn rounded-one" href="#">DOWNLOAD</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div> -->
                </div> 

                <a class="carousel-control-prev" href="#carouselOne" role="button" data-slide="prev">
                    <i class="lni-arrow-left-circle"></i>
                </a>

                <a class="carousel-control-next" href="#carouselOne" role="button" data-slide="next">
                    <i class="lni-arrow-right-circle"></i>
                </a>
            </div>
        </div> <!-- bd-example -->
    </div>
