<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }">
</ngx-loading>
<div class="layout-container">
    <div class="innerPage_head">


        <img src="../../../../../images/p_insight/p_insight_header2.jpg">

        <div class="centered">
            <h3><span>Property </span>&nbsp; Insight</h3>
        </div>
    </div>
    <!-- <div class="row mb-2" style="margin-top: 120px;">
    </div> -->
    <div class="row padd0 df_contents">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <!-- <a  type="submit" (click)="search()" 
            ><img class="pi_icon" src="../../../../../images/p_insight/header_ico.png"></a> -->
        <input type="image" src="../../../../../images/dealFinder/dg_searchIcon.png" />
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row padd0 df_contents">
        <div class="col">
        </div>
        <div class="col">
        </div>

        <h3>Property Evaluation</h3>

        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row padd0 df_contents">
        <div class="col">
        </div>
        <div class="col">
        </div>

        <ngb-alert *ngIf="postcodeMessage" [type]=status (close)="postcodeMessage = null">{{ postcodeMessage }}
        </ngb-alert>

        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>

    <form [formGroup]="searchPropertyForm" #formDir="ngForm">

        <div class="row padd0 df_contents">
            <div class="col-2"></div>
            <div class="col-2 ">

                <select [formControl]='selectCity' class="form-control round" id="selectCity" title="Required Field"
                    [ngClass]="{'has-error': ((!selectCity.valid && selectCity.touched) || (selectCity.untouched && formDir.submitted)), 'has-success': (selectCity.valid && selectCity.touched)}">
                    <option disabled selected value=''>Select Area</option>
                    <option *ngFor="let city of citiesList" [ngValue]="city">{{ city }}</option>
                </select>
                <small *ngIf="(!selectCity.valid && selectCity.touched) || (selectCity.untouched && formDir.submitted)"
                    class="text-danger">
                    City is required
                </small>

            </div>

            <div class=" col ">
                <div class="input-group">
                    <input type="text" style="height: 36px;" [formControl]="postcode" id="postcode"
                    oninput="this.value = this.value.toUpperCase()" title="Required Field" class="form-control round" placeholder="Enter Postcode Eg: HA1 2NS"
                        [ngClass]="{'has-error': (!postcode.valid && postcode.touched) || (postcode.untouched && formDir.submitted), 'has-success': (postcode.valid && postcode.touched)}">
                    <div style="height: 36px;" class="input-group-append">
                        <button class="input-group-text" style="cursor: pointer;" [disabled]="postcode.invalid"
                            id="basic-addon2" (click)="loadAddress()"> <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>


                <small *ngIf="postcode.errors?.pattern" class="text-danger">
                    Invalid Postcode.
                </small>
                <div *ngIf="((!postcode.valid && postcode.touched) || (postcode.untouched && formDir.submitted)) && postcode.errors != null"
                    class="text-danger">
                    <small *ngIf="postcode.errors?.required">
                        Postcode is required.
                    </small>
                </div>

            </div>

            <div class="col ">
                <select [attr.disabled]="!ispostcodevalid || postcode.invalid ? true: null " [formControl]="address" title="Required Field"
                    class="form-control round" id="address" placeholder="Rooms"
                    [ngClass]="{'has-error': ((!address.valid && address.touched) ), 'has-success': (selectType.valid && selectType.touched)}">
                    <option value="" disabled selected>Address</option>
                    <option *ngFor="let address of addresslist" [ngValue]="address">{{ address }}</option>
                    <option value="notlisted">My Address not listed here </option>

                    <!-- <option value="" disabled *ngIf="addresslist.length <= 0">Address Not Available</option> -->

                </select>
                <small *ngIf="(!address.valid && address.touched) " class="text-danger">
                    Address is required
                </small>

            </div>
            <div *ngIf="address.value == 'notlisted'" class="col ">
                <input type="text" style="height: 36px;" [formControl]="inputAddress" [attr.disabled]="!ispostcodevalid || postcode.invalid ? true: null" id="inputAddress"
                    title="Required Field" class="form-control round" placeholder="Enter Address">
                <small
                    *ngIf="(!inputAddress.valid && inputAddress.touched) || (inputAddress.untouched && formDir.submitted)"
                    class="text-danger">
                    Address is required
                </small>

            </div>
            <div class="col-2"></div>
        </div>
        <div class="row padd0 df_contents">
            <div class="col"></div>
            <div class="col-2 ">
                <select [formControl]="selectType" class="form-control round" id="selectType" placeholder="Select Type"
                    title="Required Field" [attr.disabled]="!ispostcodevalid || postcode.invalid ? true: null "
                    [ngClass]="{'has-error': ((!selectType.valid && selectType.touched) ), 'has-success': (selectType.valid && selectType.touched)}">
                    <option value="" disabled selected>Select Property Type</option>
                    <option *ngFor="let proType of propertyTypeList" [ngValue]="proType">{{ proType }}</option>
                </select>
                <small *ngIf="(!selectType.valid && selectType.touched)" class="text-danger">
                    Type is required
                </small>

            </div>


            <div class="col-2 ">
                <select [attr.disabled]="!ispostcodevalid || postcode.invalid ? true: null " [formControl]="noOfrooms"
                    class="form-control round" id="noOfrooms" placeholder="Rooms"
                    [ngClass]="{'has-error': ((!noOfrooms.valid && noOfrooms.touched)), 'has-success': (noOfrooms.valid && noOfrooms.touched)}">
                    <option value="" disabled selected>Number of Rooms</option>
                    <option *ngFor="let beds of bedroomlist" [ngValue]="beds">{{ beds }}</option>


                </select>
                <small *ngIf="(!noOfrooms.valid && noOfrooms.touched) " class="text-danger">
                    Rooms is required
                </small>

            </div>
            <div class="col-2 ">
                <select [formControl]="noOfBaths" class="form-control round" id="noOfBaths" placeholder="noOfBaths">
                    <option value="" disabled selected>Minimum Bathrooms</option>
                    <option value="1">+ 1</option>
                    <option value="2">+ 2</option>
                    <option value="3">+ 3</option>
                    <option value="4">+ 4</option>
                    <option value="5">+ 5</option>

                </select>

            </div>
            <div class="col-2 ">
                <input type="text" style="height: 36px;" [formControl]="internalarea" id="internalarea" title="Required Field"
                    class="form-control round" placeholder="Internal area" [(ngModel)] ='internalArea'> 
                    <small
                    *ngIf="(!internalarea.valid && internalarea.touched)"
                    class="text-danger">
                    Internal Area is required
                </small>
            </div>
           
            <div class="col"></div>

        </div>

        <!-- <div class="row padd0 df_contents">
            <div class="col">
            </div>
            <div style="text-align: end;" class="col">
                <Label class="padd1"> Min Price </Label>
                <mat-slider class="padd1" [ngModelOptions]="{standalone: true}" thumbLabel [(ngModel)]="minvalue"
                    min="50000" max="999999" step="1000">
                </mat-slider>
                <Label class="label other form-control-sm " name="minvalue" ngDefaultControl
                    style="border-color: #222222 ; font-size: 23px; font-weight:400; color: #00d2ff; text-align: right; ">
                    {{minvalue}} £ </Label>
            </div>

            <div class="col">
                <Label style="font-size: 23px; font-weight:400; color: #00d2ff; text-align: right; " name="maxvalue"
                    ngDefaultControl class="other form-control-sm"> {{maxvalue}}
                    £ </Label>
                <mat-slider class="padd1" [ngModelOptions]="{standalone: true}" thumbLabel min="1000000" max="2000000"
                    step="1000" [(ngModel)]="maxvalue">
                </mat-slider>
                <Label class="label padd1"> Max Price </Label>

            </div>
            <div class="col">
            </div>

        </div> -->

        <div class="row padd0 df_contents">
            <div class="col"></div>
            <div class="col-2 ">
                <select [formControl]="receptions" class="form-control round" id="receptions" placeholder="receptions">
                    <option value="" disabled>Reception</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="other">Other</option>
                </select>

            </div>
            <div class="col-2 ">
                <select [formControl]="constructionDate" class="form-control round" id="constructionDate"
                    placeholder="Construction Date">
                    <option value="" disabled selected>Construction Date</option>
                    <option value="pre">Pre 1914</option>
                    <option value="after">After 1914 - 2000</option>
                    <option value="new">After 2000</option>
                </select>

            </div>
            <div class="col-2 ">
                <select [formControl]="condition" class="form-control round" id="condition" placeholder="condition">
                    <option value="" disabled selected>Current Condition</option>
                    <option value="excellent">Excellent</option>
                    <option value="good">Good</option>
                    <option value="modemization">Needs Modemization</option>
                    <option value="rundown">Rundown</option>
                </select>

            </div>
            <div class="col-2">
                <select [formControl]='priceOrValuation' class="form-control round" id="priceOrValuation">
                    <option disabled selected value=''>Price/Valuation</option>
                    <option value='Sqm'>Per Sqm</option>
                    <option value='Sqft'>Per Sqft</option>

                </select>
                <!-- <small *ngIf="(!priceOrValuation.valid && priceOrValuation.touched)" class="text-danger">
                    Field is required
                </small> -->
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row padd0 df_contents">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <h2>Other features</h2>

            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>

        <div class="row padd0 df_contents">
            <div class="col">
            </div>
            <div class="col-2 ">
                <select [formControl]="garage" class="form-control round" id="garage" placeholder="garage">
                    <option value="" disabled selected>Garage</option>
                    <option value="0">None</option>
                    <option value="1">Single</option>
                    <option value="2">Double</option>
                    <option value="3">Other</option>
                </select>
            </div>
            <div class="col-2 ">
                <select [formControl]="parking" class="form-control round" id="parking" placeholder="parking">
                    <option value="" disabled selected>Parking</option>
                    <option value="">None</option>
                    <option value="1">1 Space</option>
                    <option value="2">2 Spaces</option>
                    <option value="3">3 Spaces</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Garage</label>
            </div> -->
            <div class="col-2 ">
                <select [formControl]="garden" class="form-control round" id="garden" placeholder="garden">
                    <option value="" disabled selected>Garden</option>
                    <option value="">None</option>
                    <option value="small">Small</option>
                    <option value="average">Average</option>
                    <option value="large">Large</option>
                    <option value="huge">Huge</option>
                </select>
            </div>
            <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                <label class="form-check-label" for="inlineCheckbox4">Swimming Pool</label>
            </div> -->
            <div class="col">
            </div>
        </div>

        <div class="row padd0 ">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <button type="submit" [disabled]="searchPropertyForm.invalid" (click)="search()" class="btn dfSearch">
                <i class="fa fa-search"></i>
                Search
            </button>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row ">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="signUp_df">
                <!-- <p (click)="signin()" style="color:blue">Sign In</p> -->

                <p>Not a member yet?</p>
                <a (click)="subscribePage()"><span  class="uk-icon"> <i class="fa fa-play-circle"></i>
                    </span>Subscribe now</a>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>

    </form>