#chartDiv {
  width: 100%;
  height: 65vh;
}
.agm-map {
  width: 400px;
  height: 300px;
}

.elementor-heading-title {
  color: whitesmoke;
  font-size: 3rem;
  font-weight: 600;
}
.cus-icon1 {
  justify-content: center;
  display: flex;
}
// #chart {

// width: 300px;
// height: 400px;
// }
.elementor-inner {
  background-color: cadetblue;
  text-align: center;
  height: 70px;
  padding-top: 4px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.user-item {
  margin-top: 20px;
}

.card {
  border: none;
  box-shadow: none;
}

.listName {
  font-size: 25px;
  font-weight: 520;
}

.pad0 {
  padding: 5px;
  margin-bottom: 5px;
}

.category {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #096;
}

.categoryimg {
  display: block;
  height: 487px;
  max-width: 100%;
}

.categorytext1 {
  padding: 0 15px;
  padding-top: 12%;
  font-family: Roboto-Medium;
  font-weight: 600;
  color: #6ec1e4;
  font-weight: bold;
  background-color: white;
  height: 487px;
  float: left;
}

// -------tabs------ //
.tabs {
  // margin-top: 60px;
  margin-bottom: 120px;
}
::ng-deep .nav.nav-tabs > li > a:hover {
  color: #fff;
  background: #333;
}

i.fa {
  font-size: 18px;
}

::ng-deep .nav.nav-tabs {
  background: #dddddd;
}
::ng-deep .nav-tabs .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
::ng-deep .nav.nav-tabs > li > a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: normal;
  font-weight: 700;
  color: #141819;
  text-decoration: none;
  padding: 10px;
}

::ng-deep .nav-tabs .nav-link.active {
  color: #00b5ef;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-item.show .nav-link {
}

::ng-deep .li.nav-link {
  color: #141819 !important;
}

.lead {
  font-family: Sans-serif;
  font-size: 16px;
  color: darkgrey;
}

.card-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 0;
  color: #36c6f4;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 5px;
}

// -------- section 1 --------- //
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}

//------------------------------------------------------------------------------ //

.pi_top {
  width: 97.8%;
  margin: 0 auto;
  padding-top: 20px;
}
.pi_top .uk-container {
  width: 100%;
  max-width: 100%;
}
.pi_top .uk-width-1-5 {
  padding-left: 0;
  padding-right: 0;
}
.pi_top .uk-width-4-5 {
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 30px;
}
.pi_top_right {
}
.pi_top_right p {
  font-family: "Raleway", sans-serif;
  text-transform: normal;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: normal;
  font-weight: 400;
  color: #1f2b2f;
  text-align: left;
  font-style: normal;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  /*border-bottom: solid 1px #CCC;*/
}
.pi_top_right .address {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  /*line-height: 20px;*/
  letter-spacing: normal;
  color: #1f2b2f;
  text-align: left;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}
/*.pi_top_right .address::before{
        content:url('../images/p_insight/location_icon.jpg');
        padding-right: 10px;
    }*/
.pi_top_right .address img {
  padding-right: 10px;
}
.pi_top_right .uk-subnav {
  margin-top: 0;
  margin-left: 1px;
  border-bottom: solid 1px #ccc;
}
.pi_top_right .uk-subnav li {
  font-family: "Arimo", sans-serif;
  text-transform: normal;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: normal;
  font-weight: 500;
  color: #8f8e8e;
  text-align: left;
  font-style: italic;
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 5px;
  background: none;
}
.pi_top_right .uk-subnav > * > :first-child {
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  padding-right: 10px;
  padding-bottom: 0px;
}
.pi_top_right .uk-subnav li div img {
  padding-left: 0;
  margin-right: 5px;
}
.featured .uk-container {
  width: 100% !important;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.products .uk-container {
  /*width: 100%;*/
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
}

.browse .uk-container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

/*Start rating*/
.rating-star {
  padding-top: 10px;
  padding-left: 0;
}
.rating-star span {
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  // background-image: url("../../../../../images/star-rate.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px 2px;
  cursor: pointer;
  background-position: top;
}

.rating-star span.clicked,
.rating-star span.hover {
  background-position: bottom;
}

//-----------section 1 ends ------//

//-------  tabs css ----- //

.heighlight_1 span,
.heighlight_2 span {
  padding-right: 5px;
  font-size: 25px;
}
.heighlight_1 {
  padding: 40px;
  background: #36c6f4;
}
.heighlight_1 h3 {
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 0;
  letter-spacing: normal;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 0;
  padding-top: 10px;
}
.heighlight_1 p {
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 0;
  letter-spacing: normal;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  padding: 0;
}

.heighlight_2 {
  padding: 40px;
  background: #2f3739;
}
.heighlight_2 h3 {
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 0;
  letter-spacing: normal;
  font-weight: bold;
  color: #36c6f4;
  text-decoration: none;
  padding: 0;
  padding-top: 10px;
}
.heighlight_2 p {
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 0;
  letter-spacing: normal;
  font-weight: normal;
  color: #36c6f4;
  text-decoration: none;
  padding: 0;
}
.card-blue {
  background-color: #36c6f4;
  height: 170px;
  margin-right: -20px;
  border-radius: unset;
  .tab-card-title {
    color: #222222;
  }
  p {
    color: #222222;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
  }
}
.card-blue1 {
  background-color: #00aeef;
  height: 170px;
  margin-right: -20px;
  border-radius: unset;
  .tab-card-title {
    color: #222222;
  }
  p {
    color: #222222;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
  }
}
.card-black {
  background-color: #222222;
  height: 178px;
  margin-right: -20px;
  border-radius: unset;
  .tab-card-title {
    color: #36c6f4;
  }
  p {
    color: #36c6f4;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
  }
}

.card-grey {
  height: 170px;
  margin-right: -20px;
  border-radius: unset;
  background-color: #586367;
  .tab-card-title {
    color: #ffffff;
  }
  p {
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
  }
}
.card-pink {
  background-color: #00669b;
  height: 170px;
  margin-right: -20px;
  border-radius: unset;
  .tab-card-title {
    color: #222222;
  }
  p {
    color: #222222;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }
}

.tab-card-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: normal;
  color: #36c6f4;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0;
  // width: max-content;
}
// table {
//   width: 100%;
// }

// tr {
//   width: 100%;

// }
// th, td {
//   text-align: left;
//   padding: 8px;
// }

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table {
  border: solid 1px #d7d7d7;
}
.table td {
  padding: 5px;
  border: solid 1px #d7d7d7;
}
.table tr {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #465155;
  text-transform: normal;
}
.table .left {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: #465155;
  text-transform: normal;
}

.tabh3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #36c6f4;
  text-align: left;
  text-transform: uppercase;
  // letter-spacing: 1px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px #dbdbdb;
}
.tab2-table th {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  color: #fff;
  background: #465155;
  text-align: left;
  padding: 5px;
  padding-left: 8px;
}
.tab2-table td {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #465155;
  text-align: left;
  text-transform: normal;
  padding: 5px;
  padding-left: 8px;
  border: solid 1px #dbdbdb;
}
//-------  tabs css ends ----- //

//  --------- maps------ //
.responsive-map-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//-------- map ends -----//

::ng-deep .ag-theme-material .ag-header-cell {
  padding-left: 4px;
  padding-right: 4px;
  justify-content: center;
}
::ng-deep .ag-theme-material .ag-cell {
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
}
::ng-deep .ag-header-cell-label {
  justify-content: center;
}

//------------------ cash flow ---------------------- //
ul {
  padding-left: 0px;
}

li > p {
  margin-bottom: 0em;
}

.cf_1 .uk-table {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  text-transform: normal;
  color: #586367;
  text-align: center;
  table-layout: auto;
}
.cf_1 .uk-table th {
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  background: #00669b;
  color: #fff;
}
.cf_1 .uk-table th,
.uk-table tr,
.uk-table td {
  padding: 5px;
  margin: 0;
}
.cf_1 .uk-table td {
  font-size: 13px;
  line-height: 13px;
}

.cashflowtable {
  width: 100%;
  th.cfr {
    text-transform: uppercase;
    float: right;
    width: max-content;
  }
  td.cfr {
    text-transform: uppercase;
    float: right;
    width: max-content;
  }
  tr:nth-child(even) {
    background-color: unset;
  }
}
.mat-expansion-panel {
  color: #004766;
  font-family: "Arimo", sans-serif;
  font-size: 0.8em;
}
.chart-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  background: #00669b;
  color: #fff;
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
}

//------------------ cash flow  ends---------------------- //
ul,
li {
  list-style: none;
}

.f-l {
  float: left;
}

// /* Accordion with height 600px and panel content width of 400px each */
// .mat-accordion {
//   display: block;
//   transform-origin: top left;
//   transform: rotate(-90deg) translateX(-600px); /* rotate and position it; translateX value corresponds to panel height */
//   width: 600px; /* this will be the height of the accordion (inversed due to rotation) */
// }

// .mat-expansion-panel {
//   max-height: 500px; /* this will be the width of the panel (inversed due to rotation) */
// }

// .panel-content {
//   transform-origin: top left;
//   transform: rotate(90deg); /* rotate back */
//   margin-left: 100%; /* position it */
//   height: 600px; /* real height of the content */
//   width: 400px; /* real width of the content */
// }
