<div class="limiter" data-backdrop="static" data-keyboard="false">
    <div class="container-login100" data-backdrop="static">
        <div class="wrap-login100">
            <div class="login100-form-title">
                <span class="login100-form-title-1">
                    Payment Details </span>
            </div>

            <!-- <form [formGroup]="loginForm" class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">User name</span>
                    <input type="text" class="form-control" id="inputUserName"
                        placeholder="User Name"
                        [ngClass]="{'has-error': (!username.valid && username.touched), 'has-success': (username.valid && username.touched)}">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Payment </span>
                    <input type="text" class="form-control" id="inputUserName"
                        placeholder="Payment Mode"
                        [ngClass]="{'has-error': (!username.valid && username.touched), 'has-success': (username.valid && username.touched)}">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">

                    </div>
                    <div>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button (click)="signIn()" class="login100-form-btn">
                        Save
                    </button>
                </div>
            </form> -->
        </div>
    </div>
</div>