<div class="modal-content" data-backdrop="static" data-keyboard="false">

  <span class="uk-modal-close-default close" (click)="cancelModal()">&times;</span>
  <div class="df_contents">
    <div class="loginContents">
      <div class="uk-text-center"><img src="images/user_account/loginIcon.png"></div>
      <h3>Sign Up</h3>
      <div title="* Required field" class=" login_row">

        <div class="row"><small *ngIf="signupForm.invalid" class="text-danger">
            * </small>
          <div class="col-1">
            <i class="fa fa-user"></i>
          </div>
          <div class="col">
            <input class="form-control round" [formControl]="fullname" name="" id="fullname" placeholder="Full Name"
              type="text">
          </div>
        </div>
      </div>
      <div title="* Required field" class=" login_row">

        <div class="row">
          <small *ngIf="signupForm.invalid" class="text-danger">
            * </small>
          <div class="col-1">
            <i class="material-icons">
              person
            </i> </div>
          <div class="col">

            <input class="form-control round" [formControl]="username" name="" id="username" placeholder="User Name"
              type="text">
            <small *ngIf="validUser" class="text-danger">
              User Already Exist
            </small>
            <small *ngIf="usernameinvalid " class="text-danger">
              Enter User Name
            </small>
          </div>
        </div>
      </div>
      <div title="* Required field" class=" login_row">
        <div class="row"><small *ngIf="signupForm.invalid" class="text-danger">
            * </small>
          <div class="col-1">
            <i class="material-icons">contact_mail</i> </div>
          <div class="col">
            <input class="form-control round" [formControl]="email" name="" id="email" placeholder="E-mail" type="text">
            <small *ngIf="emailMessage" class="text-danger">
              Email Already Exist
            </small>
            <small *ngIf="emailinvalid " class="text-danger">
              Enter Email </small>
            <!-- <small *ngIf="email.errors.email">
                Invalid Email!
            </small> -->
          </div>
        </div>
      </div>

      <div title="* Required field" class=" login_row">

        <div class="row"> <small *ngIf="signupForm.invalid" class="text-danger">
            * </small>
          <div class="col-1">
            <i class="material-icons">
              vpn_key
            </i> </div>
          <div class="col">
            <input class="form-control round" [formControl]="password" name="" id="password" placeholder="Password"
              type="password">
            <small *ngIf="passwordinvalid " class="text-danger">
              Enter Password </small>
          </div>
        </div>
      </div>
      <div class=" login_row">

        <div class="row"><small *ngIf="signupForm.invalid" style="color: white;">
            * </small>
          <div class="col-1">
            <i class="material-icons">
              home
            </i> </div>
          <div class="col">
            <input class="form-control round" [formControl]="address" name="" id="address" placeholder="Address"
              type="text">
          </div>
        </div>
      </div>
      <div title="* Required field" class=" login_row">

        <div class="row"><small *ngIf="signupForm.invalid" class="text-danger">
            * </small>
          <div class="col-1">
            <i class="material-icons">
              contact_phone

            </i> </div>
          <div class="col">
            <input class="form-control round" [formControl]="phoneNumber" name="" id="phoneNumber"
              placeholder="Contact Number" type="text">
          </div>
        </div>
      </div>
      <div class="row checkbox-inline">
        <p>
          <mat-checkbox class="example-margin checkbox-inline" required [(ngModel)]="checked"></mat-checkbox>
          I hereby confirm that i have read and understood the <a
            href="https://www.propertydealsinsight.com/policies-and-terms/terms-and-conditions/"
            target="_blank">"General Terms and Conditions"</a> <a href="  https://www.propertydealsinsight.com/policies-and-terms/user-and-website-terms/
      " target="_blank">"User and Website Terms"</a> and <a
            href="https://www.propertydealsinsight.com/policies-and-terms/privacy-and-gdpr-policy/"
            target="_blank">"Privacy, Cookies and GDPR Policy" </a>for Property Deals Insight Ltd and agree to use the
          site abiding these conditions.
        </p>
      </div>
      <div *ngIf="signupForm.invalid || !checked" readonly class="uk-text-center uk-margin-small-top"><a
          class="learn_more">Sign
          Up</a>
        <p>or sign up with</p>
        <div class="subsCribe">
          <a class="uk-icon-button uk-margin-small-right" uk-icon="twitter"> <i class="fa fa-twitter">

            </i> </a>
          <a class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"><i class="fa fa-facebook">

            </i></a>
          <a class="uk-icon-button" uk-icon="google-plus"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
      <div *ngIf="signupForm.valid && checked" class="uk-text-center uk-margin-small-top"><a (click)="signup()"
          class="learn_more">Sign Up</a>
        <p>or sign up with</p>
        <div class="subsCribe">
          <a class="uk-icon-button uk-margin-small-right" uk-icon="twitter"> <i class="fa fa-twitter">

            </i> </a>
          <a class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"><i class="fa fa-facebook">

            </i></a>
          <a class="uk-icon-button" uk-icon="google-plus"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>