<div class="modal-content" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h4 class="modal-title">{{modalHeader}}</h4>
        <button class="close" aria-label="Close" (click)="cancelModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body col-sm-6">
       <button class=" col btn btn-warning confirm-btn" (click)="roles()">Agents</button>&nbsp;&nbsp;&nbsp;&nbsp;
       <button class="col btn btn-warning confirm-btn" (click)="roles()">Regular investors</button>&nbsp;&nbsp;&nbsp;&nbsp;
       <button class=" col btn btn-warning confirm-btn" (click)="roles()">Small and Mid Size SME’s</button>&nbsp;&nbsp;&nbsp;&nbsp;
       <button class=" col btn btn-warning confirm-btn" (click)="roles()">Property Sourcers/Consultants</button>&nbsp;&nbsp;&nbsp;&nbsp;
       <button class=" col btn btn-warning confirm-btn" (click)="roles()">Developers</button>&nbsp;&nbsp;&nbsp;&nbsp;
       <button class=" col btn btn-warning confirm-btn" (click)="roles()">Lenders</button>&nbsp;&nbsp;&nbsp;&nbsp;
       <button class="col btn btn-warning confirm-btn" (click)="roles()">Conveyancers</button>&nbsp;&nbsp;&nbsp;&nbsp;
       <button class=" col btn btn-warning confirm-btn" (click)="roles()">Builders</button>&nbsp;&nbsp;&nbsp;&nbsp;

        </div>

    <div class="modal-footer ">
        <div>
            <!-- <button [disabled]="!loginForm.valid" class="btn btn-warning confirm-btn" (click)="login()">{{oKMessage}}</button>&nbsp;&nbsp;&nbsp;&nbsp; -->
            <button class="btn btn-primary confirm-btn" *ngIf="showHide" (click)="cancelModal()">{{cancelMessage}}</button>
        </div>
    </div>
</div>



