<div class="layout-container">
    <section class="section_header_ppinsight">
        <div class="innerPage_head">
            <div class="uk-flex uk-flex-middle"><img class="pi_icon"
                    src="../../../../../images/p_insight/header_ico.png">
                <h3><span>Deal </span>&nbsp; Finder</h3>
            </div>
        </div>
    </section>
    <div class="row mb-2">
        <!-- <div class="col-3">
                <h3 class="page-title">Deal Finder</h3>
            </div> -->
        <!-- <div class="col-9 text-right">
                <div class="d-inline-block w-50">
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="src1">
                    </span>
                        <input type="text" class="form-control search" placeholder="Search"/>
                    </div>
                </div>
            </div> -->

        <div class="container">
            <div class="elementor-inner">
                <h2 class="elementor-heading-title">Investment Strategies</h2>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" (click)="routeToSearchProperty()" style="cursor:pointer;">
                        <div class="row card-body">
                            <div class="col-3">
                                <span class="cus-icon"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-9">
                                <p href="#" class="listName">AUCTION LISTINGS</p>
                                <p class="card-text">Find the Auction Deals in a region of your choice</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" (click)="routeToSearchProperty()">
                        <div class="row card-body">
                            <div class="col-3">
                                <span class="cus-icon"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-9">
                                <p href="#" class="listName">BUY REFURB SELL</p>
                                <p class="card-text">Homes in need of a refurbishment, refurb to add to the value of the
                                    property and leverage/sell</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" (click)="routeToSearchProperty()">
                        <div class="row card-body">
                            <div class="col-3">
                                <span class="cus-icon"><i class="fa fa-sitemap" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-9">
                                <p href="#" class="listName">PLANNING APPROVED</p>
                                <p class="card-text">Planning Approved properties are great if you have your build team
                                    and don't want the hassle of planning applications</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" (click)="routeToSearchProperty()">
                        <div class="row card-body">
                            <div class="col-3">
                                <span class="cus-icon"><i class="fa fa-sitemap" aria-hidden="true"></i></span>
                            </div>
                            <div class="col-9">
                                <p href="#" class="listName">PRICE REDUCED</p>
                                <p class="card-text">Grab a bargain, See where owners have been struggling to achieve
                                    the asking prices</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>