.elementor-heading-title{
    color: #00d2ff;
    font-size: 3rem;
    font-weight: 600;
}

.elementor-inner{
   background-color: #222222;
   text-align: center;
   height: 70px;
   padding-top: 4px; 
   margin-top: 25px;
   margin-bottom: 30px;

}

.user-item{
    margin-top: 20px;
}

// .card {
//     .card-body{
//         span.cus-icon{
//             font-size: 22px;
        
//         }
//     }
    
// }
i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #00d2ff;
    padding: 0.5em 0.6em;
    font-size: 40px;
    color: #222222;
  
  }

  .card{
      border:none;
      box-shadow: none;
    }

    .listName{
        font-size: 25px;
        font-weight: 520;
    }