<section class="header-area navbar navbar-expand-lg fixed-top">
  <div class="navbar-area">

    <nav class="navbar">

      <div class="uk-navbar-left"><a class="logo uk-navbar-item uk-logo"><img
            src="../../../../images/LOGO_white.png"></a></div>
      <nav class="menu_top">

        <div class="header_top_right">
          <a (click)="wplogin()" *ngIf="!utilService.isUserLogin">Login / Signup</a>
          <a (click)="logout()" *ngIf="utilService.isUserLogin">Logout</a>

        </div>
        <ul class="uk-navbar-right  uk-navbar-nav">
          <li><a href="Javascript:void(0)" [routerLink]="['/pages/dashboard']">Home</a></li>
          <li><a href="#">About Us</a></li>
          <!-- <li><a (click)="dealFinder()">Deal Finder</a></li> -->
          <!-- <li><a (click)="propertyAnalyzer()">Property Analyzer</a></li> -->
          <!-- <li><a (click)="propertyDeals()">Property Deals</a></li> -->
          <li><a (click)="propertyInsights()">Property Insights</a></li>

          <li><a href="#">FAQ & Tutorials</a></li>
          <li><a (click)="signup()">Contact Us</a></li>
        </ul>
        <!-- <span ngbDropdown placement="bottom-right" class="float-sm-right" >
                    <span class="btn btn-sm greyBackground" id="dropdownBasic1" ngbDropdownToggle
                        style="background:#6185A4;margin-right: 25px;border-radius: 3px;">Profile</span>
                    <div class="greyBackground risky-actionDropDown" ngbDropdownMenu
                        aria-labelledby="dropdownBasic1">
                        <label ngbDropdownItem (click)="login()" *ngIf="authservice.isLogin"
                            class="greyBackground">Login</label>
                        <label ngbDropdownItem (click)="logout()" *ngIf="!authservice.isLogin"
                            class="greyBackground">Logout</label>

                        <label ngbDropdownItem class="greyBackground">Settings</label>
                    </div>
                </span> -->
      </nav>

    </nav>
  </div>


</section>

<!-- <header class="header_container">
        <div class="uk-navbar-container uk-navbar-transparent" uk-navbar>
          <div class="uk-navbar-left"><a class="logo uk-navbar-item uk-logo"><img src="../../../../images/LOGO_white.png"></a></div>
          <nav class="menu_top">
            <div class="header_top_right"> <a href="#">Login / Signup</a> </div>
            <ul class="uk-navbar-right  uk-navbar-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Deal Finder</a></li>
              <li><a href="property_insight_main.html">Property insights</a></li>
              <li><a href="#">FAQ & Tutorials</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </header> -->