.header_container {
	width: 100%;
	padding: 0;
	/*background: #00adef;*/
	background: rgba(0,0,0,.7);
	position:fixed;
	z-index: 980;
}
#pi .header_container {
	width: 100%;
	padding: 0;
	/*background: #00adef;*/
	background: rgba(20,24,25,1);
	position: relative;
}
.logo {
	padding: 20px;
	padding-bottom: 10px;
}
.header_top_right {
	text-align: right;
	padding-right: 0px;
	padding-bottom: 10px;
	margin: 0;
}
.menu_top {
	padding-right: 20px;
	padding-top: 25px;
}
.menu_top .uk-navbar-nav {
	padding: 0;
}
.menu_top .uk-navbar-nav li {
}
.menu_top .uk-navbar-nav>li>a {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	background: none;
	font-size: 12px;
	letter-spacing: 0px;
	font-weight: 500;
	min-height: 30px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	padding: 0 8px;
	margin: 0 10px;
}
.menu_top .uk-navbar-nav>li>a:hover {
	color: #00adef;
	background: rgba(255,255,255,1);
}
.menu_top .uk-navbar-nav>li>a:last-child {
	margin-right: 0;
}
.header_top_right a {
	font-family: 'Arimo', sans-serif;
	color: #ffffff;
	font-size: 11px;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-radius: 15px 15px 15px 15px;
	padding: 6px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.header_top_right a:hover {
	color: #00adef;
	background: none;
	background: #ffffff;
}
.header_top_right span {
	padding: 6px;
	display: inline;
}