<div class="layout-container">
        <section class="section_header_ppinsight">
                <div class="innerPage_head">
                        <div class="uk-flex uk-flex-middle"><img class="pi_icon"
                                        src="../../../../../images/p_insight/header_ico.png">
                                <h3><span>Property </span>Details</h3>
                        </div>
                </div>
        </section>

        <div class="row" style="margin-top: 20px;">
                <h3 class="page-title">value-flow</h3>
        </div>

        <div id="chart">
                <canvas baseChart [datasets]="barChartData" [options]="barChartOptions" [labels]="barChartLabels"
                        [chartType]="barChartType">
                </canvas>
        </div>
</div>