
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="layout-container">
        <section class="section_header_ppinsight">
                <div class="innerPage_head">
                        <div class="uk-flex uk-flex-middle"><img class="pi_icon"
                                        src="../../../../../images/p_insight/header_ico.png">
                                <h3><span>Deal </span>Finder Results</h3>
                        </div>
                </div>
        </section>

        <div class="col-lg-12 mt-2">
                <div class="col-lg-12">
                        <!-- <ag-grid-angular 
                style="width: 100%; height: calc(100vh - 130px);" 
                class="ag-theme-balham"
                [rowData]="rowDataList"
                [columnDefs]="columndefs">
            </ag-grid-angular> -->
                        <ag-grid-angular #grid [rowData]="rowDataList" [columnDefs]="columnDefs"
                                class="ag-theme-material" style="width: 100%;"
                                (gridReady)="onGridReady($event)" [rowHeight]="50" [headerHeight]="35"
                                [enableColResize]="true" [enableSorting]="true" [enableColResize]="true"
                                [context]="context" [pagination]="true" [paginationPageSize]="60"
                                [suppressCellSelection]="true" [frameworkComponents]="frameworkComponents"
                                (rowSelected)="onRowSelected($event)" [rowSelection]="'multiple'"
                                [suppressRowClickSelection]="false">
                        </ag-grid-angular>
                </div>

        </div>
</div>