::ng-deep  .ag-theme-material .ag-header-cell{
    padding-left: 1px;
    padding-right: 1px;
    justify-content: center;
  }
  ::ng-deep .ag-theme-material .ag-cell{
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 13px;
    // line-height: 15px;
    letter-spacing: normal;
    color: #788083;
    text-decoration: none;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    vertical-align: middle!important;
  }
  ::ng-deep .ag-header-cell-label {
    justify-content: center;
    font-weight: 500;
    font-size: .875rem;
  
  }