<div class="layout-container">
        <section class="section_header_ppinsight">
                <div class="innerPage_head">
                        <div class="uk-flex uk-flex-middle"><img class="pi_icon"
                                        src="../../../../../images/p_insight/header_ico.png">
                                <h3><span>Property </span>Deals Details</h3>
                        </div>
                </div>
        </section>
</div>